<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default">
<partial name="Backend/_HtmlHeadPartial" />

<body>
    @RenderBody()
    <partial name="Backend/_ScriptPartial" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
