

<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default">
<partial name="Backend/_HtmlHeadPartial" />

<body>
    <div class="load">
    
    </div>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <partial name="Backend/_SidebarPartial" />
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <partial name="Backend/_HeaderPartial" />
                
                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper ">
                    <!-- Content -->
                   
                    <div class="container-xxl flex-grow-1 container-p-y">
                        
                       
                        @RenderBody()
                        
                    </div>
                    <!-- / Content -->
                    <!-- Footer -->
                    <partial name="Backend/_FooterPartial" />
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <partial name="Backend/_ScriptPartial" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
