<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/poper/dist/poper.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="~/backend/vendors/js/menu.js"></script>

<script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
<script src="~/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>


<script src="~/backend/js/main.js"></script>
<script src="~/backend/js/dashboards-analytics.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
<script src="~/backend/vendors/tinymce/tinymce.min.js"></script>
<script src="~/lib/select2/js/select2.min.js"></script>
<script>

    function loading(x) {
       
        if (x) {
            $(".load").html(`<div class="loading  vh-100 w-100 position-fixed  d-flex justify-content-center align-items-center" style="background: #0000003d; z-index:9999;">

                <img class="loading-image" src="/book-loader.gif" />
            </div>`)
        } else {
            $(".load").empty();
        }
    }

   
</script>
<script src="~/js/site.js" asp-append-version="true"></script>