@model LMS.Application.ViewModel.CategoryVm;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class=" col-md-6 mb-3 mb-md-0">
            <div class="card p-3">
                <div class="row">

                    <input type="hidden" id="categoryId" />
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" id="categoryName" class="form-control" placeholder="Enter Farm Name" />
                    </div>

                    <div class="mb-3 ">
                        <label asp-for="Description" class="form-label"></label>
                        <input asp-for="Description" id="description" class="form-control" placeholder="Enter Your Phone" />
                    </div>
                    <div class="mb-3 ">
                        <label asp-for="RootId" class="form-label"></label>
                        @* @Html.DropDownListFor(x => x.RootId, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control", id = "categoryRootId" })  *@
                        <select id="categoryRootId" class="form-control">
                        </select>
                    </div>

                    <div class="mt-2">
                        <button onclick="SaveCategory()" id="saveBtn" class="btn btn-primary me-2">Create</button>
                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-6">

            <table id="myTable" class="table table-striped table-responsive table-bordered">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>description</td>
                        <td>Root Id</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody id="loadCategoryData">
                </tbody>

            </table>


        </div>
    </div>

</div>



@section Scripts{
    <script>

        
        function loading(x) {
            if (x) {
                $(".loading").html(`<h1>Loading.......................</h1>`)
            } else {
                $(".loading").empty();
            }


        }
        function Clear() {

            $("#categoryName").val("");
            $("#categoryRootId").val("");
            $("#description").val("");
            $("#categoryId").val("")


        }
        function GetAllCategory() {
            $.ajax({
                type: "Get",
                url: "/get-category-result-by-json",

                success: function (data) {

                    $('#loadCategoryData').empty();
                    data.map((value, i) => {
                        return $('#loadCategoryData').append(`
                                                                                                    <tr class="id-${value.id}" style="${value.default ? 'color:#00ff00;' : ""}">
                                                                                                <td   >${value.name}</td>
                                                                                            <td >${value.description}</td>
                                                                                            <td>${value.rootId}</td>

                                                                                            <td>
                                                                                                <button onclick="DeleteCategory(${value.id})">Delete</button>
                                                                                                    <button onclick="SetAsDefault(${value.id})">Default</button>
                                                                                                <button onclick="UpdateCategory(${value.id})">Edit</button>
                                                                                            </td>
                                                                                        </tr>
                                                                    `)




                    })

                },
                error: function (jqXHR, textStatus, errorThrown) {

                    console.error("AJAX Error:", textStatus, errorThrown);
                }
            });
        }
        GetAllCategory();
        var SaveCategory = function () {
            $("#saveBtn").text("Create")
            loading(true)
            var categorayname = $("#categoryName").val();
            var categoryRootId = $("#categoryRootId").val();
            var description = $("#description").val();
            var id = $("#categoryId").val()

            var category = {
                Name: categorayname,
                Description: description,
                RootId: categoryRootId,
                Id: id
            }
            $.ajax({

                type: "POST",
                url: "/Category/CreateOrEdit",
                data: category,
                success: function (data) {
                    Clear();
                    DropdownCategory();
                    GetAllCategory();
                    loading(false)
                    Toast.fire({
                        icon: "success",
                        title: data.message,
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    Clear()
                    GetAllCategory();
                  
                    loading(false);
                    Toast.fire({
                        icon: "error",
                        title: "Categroy Added Fail",
                    });
                    console.error("AJAX Error:", textStatus, errorThrown);
                }
            });
        }
        var DeleteCategory = function (id) {
            loading(true)
            $.ajax({
                type: "POST",
                url: "/Category/Delete",
                data: { Id: id },
                success: function (data) {
                    loading(false)
                    GetAllCategory();
                    DropdownCategory();
                    Toast.fire({
                        icon: "success",
                        title: data.message,
                    })

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    loading(false)
                    Toast.fire({
                        icon: "success",
                        title: "Not Delete This Item",
                    })
                    
                    console.error("AJAX Error:", textStatus, errorThrown);
                }
            });
        }
        var UpdateCategory = function (id) {
            $("#saveBtn").text("Update")
            loading(true)
            $.ajax({
                type: "POST",
                url: "/Category/EditCategory",
                data: { Id: id },
                success: function (data) {
                    loading(false)
                   
                    $("#categoryName").val(data.name);
                    $("#description").val(data.description);
                    $("#categoryId").val(data.id);
                    DropdownCategory(id, data.rootId)
                    GetAllCategory();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    loading(false)
                    console.error("AJAX Error:", textStatus, errorThrown);
                }
            });
        }
        var DropdownCategory = function (id, rootId) {

            $.ajax({
                type: "Get",
                url: "/get-category-result-by-json",
                success: function (data) {
                    $('#categoryRootId').empty();
                    $('#categoryRootId').append(`<option   value='0'>Select Parent Category</option>`)
                    data.map((value, i) => {

                        var sel = (value.id == rootId) ? "selected" : ""

                        if (value.id != id) {
                            return $('#categoryRootId').append(`
                                                                              <option ${sel}  value='${value.id}'>${value.name} </option>
                                                 `)
                        }

                    })
                },
                error: function (jqXHR, textStatus, errorThrown) {

                    console.error("AJAX Error:", textStatus, errorThrown);
                }
            });
        }
        var SetAsDefault = function (id) {
            loading(true);
            $.ajax({
                type: "POST",
                url: "/Category/SetAsDefault",
                data: { Id: id },
                success: function (data) {
                    loading(false);
                    GetAllCategory();
                    DropdownCategory();
                    console.log(data)
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    loading(false);
                    console.error("AJAX Error:", textStatus, errorThrown);
                }
            });
        }
        DropdownCategory();


    </script>


}





