html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

div:where(.swal2-container) .swal2-icon-error div:where(.swal2-timer-progress-bar) {
    width: 100%;
    height: .25em;
    background: red !important;
}

div:where(.swal2-container) .swal2-icon-success div:where(.swal2-timer-progress-bar) {
    width: 100%;
    height: .25em;
    background: #5be63c !important;
}
