

div:where(.swal2-container) .swal2-icon-error div:where(.swal2-timer-progress-bar) {
    width: 100%;
    height: .25em;
    background: red !important;
}

div:where(.swal2-container) .swal2-icon-success div:where(.swal2-timer-progress-bar) {
    width: 100%;
    height: .25em;
    background: #5be63c !important;
}
div#aria_7369678362751722013567722 {
    display: none;
}
div#aria_9828573002731722013567722 {
    display: none;
}

.swal2-container.swal2-top-end.swal2-backdrop-show {
    z-index: 9999 !important;
}
a{
    cursor:pointer;
}