
@{
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}

<div id="loadBookData"></div>

@section Scripts{
    <script>
        
        function GetallBooks() {
           
            loading(true)
            $.ajax({
                type: "GET",
                url: "/get-all-books",
                success: function (data) {
                    $("#loadBookData").html(data)
                   
                    
                    loading(false)
                },
                error: function (jqXHR, textStatus, errorThrown) {

                    loading(false)
                }
            });

        }

        GetallBooks();
        var TrashBook = function (id) {
            
            loading(true)
            $.ajax({
                type: "POST",
                url: "/Books/MoveToTrash",
                data: { Id: id },
                success: function (data) {
                    loading(false)
                    GetallBooks();
                    Toast.fire({
                        icon: "success",
                        title: data.message,
                    })

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    loading(false)
                    Toast.fire({
                        icon: "success",
                        title: "Not Delete This Item",
                    })

                    console.error("AJAX Error:", textStatus, errorThrown);
                }
            });
        }


        var UpdateCategory = function (id) {
            $("#saveBtn").text("Update")
            loading(true)
            $.ajax({
                type: "POST",
                url: "/Books/EditBookItem",
                data: { Id: id },
                success: function (data) {
                    loading(false)
                    console.log(data)
                   $("#bookId").val(data.id);
                     $("#bookName").val(data.name);
                     $("#bookPubliserId").val("");
                    $("#CategoryId").val("");
                    $("#coverImage").val("");
                     $("#pageNumber").val(data.page)
                     $("#status").val(data.status);
                    $("#publisherYear").val(data.publisherYear);
                    var editionDate = $("#editionDate").val();
                    var description = tinymce.activeEditor.getContent({ format: 'html' });
                    var isbn = $("#isbn").val();
                    var price = $("#price").val();
                    var quantity = $("#quantity").val();
                   
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    loading(false)
                    console.error("AJAX Error:", textStatus, errorThrown);
                }
            });
        }

    </script>
}