@model LMS.Application.ViewModel.BooksVm
@{
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}
<form id="PostBook">
    <div class="row">
        <input type="hidden" id="bookId" />
        <div class="col-md-9">
            <div class="row">
                <div class="mb-3 col-12">
                    <label asp-for="Name" class="form-label"></label>
                    <input class="form-control" id="bookName" asp-for="Name" placeholder="Enter your email" />
                </div>
                <div class="mb-3 col-12">
                    <label asp-for="Description" class="form-label"></label>

                    <textarea class="form-control editor" id="description" asp-for="Description" placeholder="Enter your Discription " /></textarea>
                </div>
                <div class="mb-3 col-md-6">
                    <label asp-for="Page" class="form-label"></label>
                    <input class="form-control" id="pageNumber" asp-for="Page" placeholder="Enter your total Page " />
                </div>
                <div class="mb-3 col-md-6">
                    <label asp-for="ISBN" class="form-label"></label>
                    <input class="form-control" id="isbn" asp-for="ISBN" placeholder="Enter your ISBN " />
                </div>
                <div class="mb-3 col-md-6">
                    <label asp-for="Price" class="form-label"></label>
                    <input class="form-control" id="price" asp-for="Price" placeholder="Enter your price " />
                </div>
                <div class="mb-3 col-md-6">
                    <label asp-for="Quantity" class="form-label"></label>
                    <input class="form-control" id="quantity" asp-for="Quantity" placeholder="Enter your Quantity" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary mb-3 saveBtn order-5 d-grid w-100">Create</button>

            <div class="mb-3 col-md-12">
                <label asp-for="PublisherId" class="form-label"></label>
                <input class="form-control" id="bookPubliserId" asp-for="PublisherId" placeholder="Enter your PublisherId" />
            </div>

            <div class="mb-3 col-md-12">
                <label asp-for="CategoryId" class="form-label"></label>
                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control", id = "CategoryId", })
                @*  <input class="form-control" id="CategoryId" asp-for="CategoryId" placeholder="Enter your Category Id" /> *@
            </div>

            <div class="mb-3 col-md-12">
                <label asp-for="CoverImage" class="form-label"></label>
                <input type="file" class="form-control" id="coverImage" asp-for="CoverImage" placeholder="Enter your Cover Image" />
            </div>

            <div class="mb-3 col-md-12">
                <label asp-for="Status" class="form-label"></label>
                @* <input class="form-control" id="status" asp-for="Status"  placeholder="Enter your total Page " /> *@
                @Html.DropDownList("Status", new List<SelectListItem>
                {
                new SelectListItem{Text="Publish",Value="1"},
                new SelectListItem{Text="Set as Draft",Value="0" },


                }, new { @class = "form-control", id = "status", })

            </div>

            <div class="mb-3 col-md-12">
                <label asp-for="PublisherYear" class="form-label"></label>
                <input type="date" class="form-control" id="publisherYear" asp-for="PublisherYear" placeholder="Enter your Publisher Year " />
            </div>

            <div class="mb-3 col-md-12">
                <label asp-for="EditionDate" class="form-label"></label>
                <input class="form-control" id="editionDate" asp-for="EditionDate" placeholder="Enter your Edition Date " />
            </div>




        </div>


    </div>

</form>



@section Scripts {
    <script>


        function BookStatus() {
            var txt = ($("#status").val() == 1 ? "Publish" : "Set as Draft")
            $(".saveBtn").text(txt)
        }
        BookStatus();
        if ($("#bookId").val() == 0) {
            $("#status").change(() => {
                BookStatus();
            })
        }

        $("#PostBook").submit(function (e) {
            e.preventDefault();
            loading(true)
            var BookId = $("#bookId").val();
            var BookName = $("#bookName").val();
            var bookPubliserId = $("#bookPubliserId").val();
            var CategoryId = $("#CategoryId").val();
            var coverImage = $("#coverImage").val();
            var pageNumber = $("#pageNumber").val();
            var status = $("#status").val();
            var publisherYear = $("#publisherYear").val();
            var editionDate = $("#editionDate").val();
            var description = tinymce.activeEditor.getContent({ format: 'html' });
            var isbn = $("#isbn").val();
            var price = $("#price").val();
            var quantity = $("#quantity").val();
            var book = {
                Id: BookId,
                Name: BookName,
                Description: description,
                Page: pageNumber,
                Quantity: quantity,
                Status: status,
                Price: price,
                PublisherId: bookPubliserId,
                PublisherYear: publisherYear,
                EditionDate: editionDate,
                CoverImage: coverImage,
                ISBN: isbn,
                CategoryId: CategoryId,
            }

            $.ajax({

                type: "POST",
                url: "/Books/CreateOrEdit",
                data: book,
                success: function (data) {
                    $("#loadBookData").html(data)
                    // GetallBooks();
                    CleanInput(true);
                    if (typeof (tinyMCE) != 'undefined') {
                        $('#tinymce').val('');  // Removes all paragraphs in the active editor
                    }
                    // DropdownCategory();
                    // GetAllCategory();
                    loading(false)
                    Toast.fire({
                        icon: "success",
                        title: data.message,
                    })
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    loading(false)
                    Toast.fire({
                        icon: "error",
                        title: "Book Added Fail",
                    })
                }
            });

        });
       

         

        
    </script>
}